<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wish.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wish.description %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishlist_path(@wish.wishlist_id) %>
