<h2><%= link_to 'Wishlists', wishlists_path %></h2>

<h2>News</h2>



<% @posts.each do |post| %>
  <article>
    <header>
      <h4><%= post.title %></h4>
    </header>
    <content>
      <p><%= post.body %></p>
    </content>
    <footer>
      <p><%= link_to 'Show', post %> 
      <% if current_user == post.user %>
        <%= link_to 'Edit', edit_post_path(post) %> 
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </p>
    </footer>
  </article>
<% end %>

<br>

<%= link_to 'New Post', new_post_path, :class => "small button"  %>
