<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
<strong>User:</strong>
<%= @post.user.first_name + " " + @post.user.last_name + " - " + @post.created_at.to_s%>
</p>

<h3>Comments</h3>

    <% @comments.each do |comment|%>
        <p>
            <%= comment.header%> - <%= comment.user.email %> - <%= comment.updated_at%>
        </p>

        <p>
            <%= comment.content%>
        </p>

        <hr>
     <% end %>

<% if(user_signed_in?) %>
    <h3>leave a Comment</h3>
    <p>
      <%= render "comments/form" %>
    </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
